html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#image-container {
  width: 100%;
  overflow: hidden;
}

#image {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}
